.cpName { font-size: 16px; }
.cpName span { display:inline-block; padding: .5rem 1rem; border: 3px double #aaa; border-radius: 5px; }

.cpWhybuy { display: inline-block; font-size: 16px; padding: 1rem; border: 1px dashed red; }
.cpWhybuy h3 { display: block; }
.cpWhybuy ul { list-style-type: circle; }

.cpWhensell { display: inline-block; font-size: 16px; padding: 1rem; border: 1px dashed red; }
.cpWhensell h3 { display: block; }
.cpWhensell ul { list-style-type: circle; }